home: "/Users/<your name>"
owner: <your name>
rbenv:
  default: "3.2.2"
  others:
    - "3.1.4"
nodenv:
  default: "19.9.0"
  others: # others入れない場合は `- ""` としないこと
goenv:
  default: "1.21.3"
  others:
